{%include "header.html"%}
{% include "nav.html" %}
<body>

<div id="LOGIN">
            <form name="formUserUpdate" action="/submituser" onsubmit="return confirmForm()" method="post">

                <p><h5>EMAIL/Username</h5>
            <p><h5><input type="text" maxlength="50" name="EMAIL" value=""></h5>
                <p><h5>Firstname</h5>
                <p><h5><input type="text" maxlength="50" name="FIRSTNAME" value=""></h5>
                <p><h5>Surname</h5>
                <p><h5><input type="text" maxlength="50" name="SURNAME" value=""></h5>
                <p><h5>Password</h5>
                <p><h5><input type="password" maxlength="25" name="PASSWORD" value=""></h5>
                <p><h5>Age</h5>
                <p><h5><input type="text" maxlength="3" name="AGE" value=""></h5>
                <p><h5>Gender</h5>
                <p><h5><select name="GENDER">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        </select></h5>
                <p><h5>Town</h5>
                <p><h5><input type="text" maxlength="50" name="TOWN" value=""></h5>
                <p><h5>Country</h5>
                <p><h5><input type="text" maxlength="50" name="COUNTRY" value=""></h5>
                <p><h5>Postcode</h5>
                <p><h5><input type="text" maxlength="50" name="POSTCODE" value=""></h5>
                <p><h5>Role</h5>
                <p><h5><select name="ROLE">
                        <option value="ADMIN">Admin</option>
                        <option value="CUSTOMER">Customer</option>
                        </select></h5>
                <p><h5>Status</h5>
                <p><h5><select name="STATUS">
                        <option value="active">active</option>
                        <option value="inactive">inactive</option>
                        </select></h5>
                <p><h5></h5>
                <p><h5><input type="submit" value="update"></h5>


    </form>
            <div id="ERROR"><p><h5>{{ ERROR }}</h5></div>

</div>
</body>
{% include "footer.html" %}
<script>
    function confirmForm() {
        var emailVer = document.forms["formUserUpdate"]["EMAIL"].value;
        if (emailVer == "") {
            alert("email must be filled out");
            return false;
            }
        var firstnameVer = document.forms["formUserUpdate"]["FIRSTNAME"].value;
        if (firstnameVer == "") {
            alert("Firstname must be filled out");
            return false;
            }
        var surnameVer = document.forms["formUserUpdate"]["SURNAME"].value;
        if (surnameVer == "") {
            alert("Surname must be filled out");
            return false;
            }
        var passwordVer = document.forms["formUserUpdate"]["PASSWORD"].value;
        if (passwordVer == "") {
            alert("Password must be filled out");
            return false;
            }
        var ageVer = document.forms["formUserUpdate"]["AGE"].value;
        if (ageVer == "") {
            alert("Age must be filled out");
            return false;
            }
        var genderVer = document.forms["formUserUpdate"]["GENDER"].value;
        if (genderVer == "") {
            alert("Gender must be filled out");
            return false;
            }
        var townVer = document.forms["formUserUpdate"]["TOWN"].value;
        if (townVer == "") {
            alert("Town must be filled out");
            return false;
            }
    }
</script>

