<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/css/test.css">
    <meta charset="UTF-8">
    <title>Space Force Case File</title>
</head>


<body>

<div id="header">

<h1>Space Force Case File Messages:</h1>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
</body>





